form {
    text-align: center;
}
img {
    opacity: 0.4;
  }
button{
width: 30%;
padding: 5px;
font-size: 20px;
background-color:rgb(240, 93, 93);
color: white;
margin-top: 10px;
margin-bottom: 10px;
border: 1px solid pink;
border-radius: 6px;
resize: vertical;
}
