form {
    text-align: center;
}
img {
    opacity: 0.4;
  }
button{
  width: 30%;
  padding: 5px;
  font-size: 30px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  background-color:rgb(240, 93, 93);
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid pink;
  border-radius: 6px;
  resize: vertical;
}
button:hover{
    
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.15em);
  transition-duration: 0.4s;
  box-shadow: 0 10px 10px -2px rgba(0,0,0,.5);
}

.questions {
  padding: 30px;
  font-size: 20px;
}
#test{
  border: 10px solid transparent;
  padding: 15px;
  border-image: url("src\assets\images\border.png") 30 stretch;
}