.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
  transition: 0.3s;
  width: 75%;
  border-radius: 10px 10px 10px 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.card:hover {
  box-shadow: 0px 0px 8px 8px rgba(0,0,0,0.1);
}

.container {
  padding: 4px 16px;
}
@font-face {
  font-family: 'snell bold';
  src: url(assets/fonts/SnellBT-Bold.otf) format("opentype");
}