<body>
  <h1>Final Project</h1>
  <h1>Personality Assessment Quiz</h1>
  <div class="card">
    <div class="container">
      <h3>Artistic Statement</h3>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <img src=".\assets\images\afarewelltoarms.jpg" height="300" width="200" name="farewelltoarms">
      <a href="https://in.pinterest.com/pin/241716704978117063/"><figcaption>Image Source</figcaption></a>
    </div>
    <div class="column">
      <img src=".\assets\images\themysterioustranger.jpg" height="300" width="200" name="themysterioustranger">
      <a href="https://www.blurb.com/b/6522059-the-mysterious-stranger"><figcaption>Image Source</figcaption></a>
    </div>
    <div class="column">
      <img src=".\assets\images\thesoundandthefury.jpg" height="300" width="200" name="soundandthefury">
      <a href="https://en.wikipedia.org/wiki/The_Sound_and_the_Fury"><figcaption>Image Source</figcaption></a>
    </div>
  </div>
  <a routerLink="/quiz"><button>TAKE THE QUIZ</button></a>

</body>

