<body>
  <h1>Final Project</h1>
  <h1>Character Resemblance Quiz</h1>
  <div class="card">
    <div class="container">
      <h3>Artistic Statement</h3>
      <p>I created this website to allow users to draw a personal connection with the main characters from the three novels we went over during this course. I was very intrigued by each of the characters I have chosen since they display a wide range of personalities. Since most of our discussions over the term required us to step into the shoes of certain characters, I feel like this is a good way to wrap up the term.</p>
    </div>
  </div>
  <a routerLink="/quiz"><button>TAKE THE QUIZ</button></a>
  <div class="row">
    <div class="column">
      <img src=".\assets\images\afarewelltoarms.jpg" height="300" width="200" name="farewelltoarms">
    </div>
    <div class="column">
      <img src=".\assets\images\themysterioustranger.jpg" height="300" width="200" name="themysterioustranger">
    </div>
    <div class="column">
      <img src=".\assets\images\thesoundandthefury.jpg" height="300" width="200" name="soundandthefury">
    </div>
  </div>

</body>

