.row {
    display: flex;
}
button {
width: 30%;
  padding: 5px;
  font-size: 35px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  background-color:black;
  color: white;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 6px;
  resize: vertical;
}
.column {
    flex: 33.33%;
}
figcaption {
    font-size: 15px;
}

h1{
    font-family: 'snell bold';
    font-size: 50px;
}
img{
    border-radius: 8px;
}
